*{
    box-sizing: border-box;
}
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.menuBar li {
  display: inline-block;
  padding: 10px;
}
.menuBar {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid lightgray;
  overflow: hidden;
  text-align: center;
}
.menuBar ul li:nth-child(1) {
  position: relative;
  float: left;
}
.menuBar ul li:nth-child(4) {
  float: right;
}
.menuBar ul li:nth-child(3) {
  float: right;
}
.album{
    text-align: center;
    padding: 30px;
}
.galleryImages{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.galleryImages Ul{
    display: flex;
    flex-wrap: wrap;
}
.galleryImages li{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    white-space: nowrap;
}
.galleryImages img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .galleryImages li{
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .galleryImages li{
        flex: 100%;
        max-width: 100%;
    }
}